In [1]:
#!pip install matplotlib
#!pip install scipy

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('./data/titanic.csv')

In [3]:
data.head()

,PassengerId,Survived,Pclass,Lname,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,Braund,Mr. Owen Harris,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,Cumings,Mrs. John Bradley (Florence Briggs Thayer),female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,Heikkinen,Miss. Laina,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,Futrelle,Mrs. Jacques Heath (Lily May Peel),female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,Allen,Mr. William Henry,male,35.0,0,0,373450,8.0500,NaN,S

Сделать столбчаутю диаграмму распределения пассажиров по признаку "пол"

Сделать столбчаутю диаграмму распределения пассажиров по признаку "пол" относительно класса

Построить гистрограмму по признаку "возраст"

Построить гистрограмму распределения по признаку "cabin" в оттенках зеленого цвета

Построить сводчатые гистограммы (4 subplot): выжившие мужчины, умершие мужчины, выжвишие женщины, умершие женщины (по возрасту)

Построить ящик с усами числа выживших относительно признака "cabin"

Построить матрицу корелляций признаков между собой

Построить heatmap зависимотси класса и признака "выжил"